body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginAndRegBox .titlebox {
  height: 60px;
  background: url('../images/login_title.png') no-repeat center;
}
.loginAndRegBox .reg-box {
  display: none;
}
.loginAndRegBox .layui-form {
  padding: 0 20px;
}
.loginAndRegBox .links {
  display: flex;
  justify-content: flex-end;
}
.loginAndRegBox .layui-form-item {
  position: relative;
}
.loginAndRegBox .layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.loginAndRegBox .layui-input {
  padding-left: 30px;
}
